//Profile CSS

.profile{
    margin-top: 2em;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.5em;
    color: black;
  
}

.profileImage{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(92, 92, 91);
    position: relative;
    top: 15vh;
    left: 1em;
}

.profileName{
    margin-top: calc(15vh + 1em);
    padding-left: clamp(10px,1.5vw,1rem);
    font-weight: bold;
    font-size: clamp(18px,1.5vw,22px);
}
.profileHeadline{
    padding-left: clamp(10px,1.5vw,1rem);
  
}

.profileNameEdit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileEdit{
    background: white;
    border: 1px solid black;
    margin-top: calc(15vh + 1em);
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: clamp(18px,1.5vw,22px);
    margin-right: clamp(20px,5vw,4em);
}

.submitButton{
    width: clamp(150px,10vw,300px);
    margin: 1em 0;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    background-color: rgb(63, 135, 218);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.submitDiv{
    display: flex;
    justify-content: flex-end;
}
.education{
    margin-top: 2em;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.5em;
    color: black;
    
}
.educationNameEdit{
    display: contents;
    // justify-content: space-between;
    // align-items: center;
}
.educationName{
    margin-top:  1em;
    padding-bottom: clamp(10px,1.5vw,1rem);
    font-weight: bold;
    font-size: clamp(18px,1.5vw,22px);
}
.educationHeadline{
    padding-left: clamp(10px,1.5vw,1rem);
  
}
.garagetitle {
    // writing-mode: vertical-rl;
    // text-orientation: revert;
    // font-weight: bold;
    // transform: rotate(-90deg);
    color: gray
}
.school{
    font-weight: bold;
    font-size: large;
}
.educationEdit{
    // background: white;
    // border: 1px solid black;
    // // margin-top: calc(15vh + 1em);
    padding-right: 38px;
     cursor: pointer;
    //  border-radius: 100%;
    display: flex;
    justify-content: right;
    position: relative;
    top: 35px;
    // font-weight: bold;
    // font-size: clamp(18px,1.5vw,22px);
    // margin-right: clamp(20px,5vw,4em);
}
.formGroup{
    // margin:4px, 4px;
    // padding:4px;
    // background-color: green;
    // width: 500px;
    // height: 110px;
    // overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    // text-align:justify;
    // scroll-margin: 5%;
    // scroll-behaviour: smooth;
//     width: 100%;
//   padding: 12px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   resize: vertical;
background-color: #f1f1f1;
  height: 25%;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}